.nav-container{
    background-color: #1B242F;
    border-bottom: 4px #04C2C9 solid;
}
.menu li:hover{
    
    cursor: pointer;
    transition:         0.2s ease-in;
    -o-transition:      0.2s ease-in;
    -ms-transition:     0.2s ease-in;
    -moz-transition:    0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
}